{% extends 'base.html.twig' %}

{% block title %}Espace utilisateur{% endblock %}

{% block body %}
<h1 class="text-center mt-5 titleCard">Bienvenue sur votre espace personnel {{app.user.name | capitalize}}</h1>
<br>
<br>
<div class="row ms-2 me-2">
  <div class="col-sm-6">
    <div class="card cardUserSpace">
      <div class="card-body">
        <h5 class="card-title text-center titleCard">Vos informations personnelles</h5>
        <br>
        <p class="card-text">Votre nom d'utilisateur : {{app.user.name | capitalize}}</p>
        <p class="card-text">Votre email : {{app.user.email | capitalize}}</p>
        <div class="text-center">
            <a href="#" class="btn btn-primary">Modifier vos informations</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card cardUserSpace">
      <div class="card-body">
        <h5 class="card-title text-center titleCard">Votre mot de passe</h5>
        <br>
        <p class="card-text text-center">Si vous souhaitez modifier votre mot de passe vous pouvez cliquer sur le bouton
        ci-dessous</p>
        <br>
        <div class="text-center">
            <a href="#" class="btn btn-primary">Modifier votre mot de passe</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row ms-2 me-2 mt-4 text-center cardUserSpace">
  <div class="col-sm-6">
    <div class="card cardUserSpace">
      <div class="card-body">
        <h5 class="card-title titleCard">Vos tricks crées</h5>
        <br>
        <p class="card-text">Vous avez créer XXX article(s) concernant les trickcs</p>
        <br>
        <a href="#" class="btn btn-primary">Aller les voir</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card cardUserSpace">
      <div class="card-body">
        <h5 class="card-title titleCard">Vos commentaires</h5>
        <br>
        <p class="card-text">Vous avez commenté à XXX reprises</p>
        <br>
        <a href="#" class="btn btn-primary">Aller voir vos commentaires</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
