{% extends 'base.html.twig' %}

{% block title %}Espace administrateur{% endblock %}

{% block body %}
<h1 class="text-center mt-5 titleCard">Bienvenue sur votre espace administrateur,  {{app.user.name | capitalize}}</h1>
<br>
<br>
<div class="row ms-2 me-2">
  <div class="col-sm-6 mb-3">
    <div class="card cardUserSpace text-center">
      <div class="card-body">
        <h5 class="card-title text-center titleCard">Modifiez un trick</h5>
        <br>
        <p class="card-text">En cliquant ci-dessous vous pourrez choisir et modifier un trick.</p>
        <p class="card-text">Vous pourrez changer le nom, le contenu et modifier les images qu'il contient.</p>
        <div class="text-center">
            <a href="{{path('modify_trick')}}" class="btn btn-primary">Modifier un trick</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 mb-3">
    <div class="card cardUserSpace">
      <div class="card-body">
        <h5 class="card-title text-center titleCard">Modérer un commentaire</h5>
        <br>
        <p class="card-text text-center">Dans cette partie vous pourrez supprimer ou valider
         un commentaire qui aura été signalé au préalable par les utilisateurs</p>
        <br>
        <div class="text-center">
            <a href="#" class="btn btn-primary">Modérer les commentaires</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row ms-2 me-2 mt-4 text-center cardUserSpace">
  <div class="col-sm-6 mb-3">
    <div class="card cardUserSpace">
      <div class="card-body">
        <h5 class="card-title titleCard">Modifier un rôle</h5>
        <br>
        <p class="card-text">En cliquant ci-dessous vous pourrez choisir un utilisateur
         et lui donner le rôle de modérateur. Ainsi il pourra modérer les commentaires et les abus
         concernant le texte ou les photos d'un trick</p>
         <p class="card-text">Vous pourrez également faire passer un modérateur au rôle
         d'utilisateur simple</p>
        <br>
        <a href="#" class="btn btn-primary">Modifier un rôle</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6 mb-3">
    <div class="card cardUserSpace">
      <div class="card-body">
        <h5 class="card-title titleCard">Actions de suppression</h5>
        <br>
        <p class="card-text">Dans cette partie vous pourrez supprimer des tricks si vous
         trouvez qu'il ne sont pas en accord avec votre vision de ce site.</p>
         <p class="card-text">Vous pourrez également supprimer des utilisateurs si leurs comportements
         n'est pas en adéquation avec la charte</p>
        <br>
        <a href="#" class="btn btn-primary">Aller vers les suppressions</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
