{% extends 'base.html.twig' %}

{# variable personnalisées#}
{% set queryParams = app.request.query.all %}
{% set queryString = queryParams|filter((v, k) => k != "page")|url_encode %}

{% block title %}Tous les tricks !
{% endblock %}

{% block body %}
	<br>
	<h1 class="text-center titleCard mt-4 mb-4">Page de l'ensemble des tricks</h1>
	<div class="mb-3 text-center">
		<form id="filters">
			<label for="category">Choisissez une catégorie :
			</label>
			<select name="category" id="category" class="bg-secondary text-light rounded p-1 shadow ms-2" required>
				<option disabled selected>Choisissez votre catégorie</option>
				<option value="">Toutes les catégories</option>
				{% for category in categories %}
					<option value="{{category.id}}" {% if category.id == filters %} "selected" {% endif %}>
						{{category.name}}
					</option>
				{% endfor %}
				{# <input type="hidden" name="page" value="{{page}}"> #}
			</select>
		</form>
	</div>
	<div id="content">
		{% include "trick/content_tricks.html.twig" %}
	</div>
{% endblock %}
{% block javascript %}
	<script src="{{asset('javascript/filters.js')}}"></script>
{% endblock %}
